In [12]:
import os
import requests
from dotenv import load_dotenv
import zipfile
import io
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Load environment variables
load_dotenv()

KAGGLE_USERNAME = os.getenv("KAGGLE_USERNAME")
KAGGLE_KEY = os.getenv("KAGGLE_KEY")

# Kaggle API endpoint (datasets download)
url = "https://www.kaggle.com/api/v1/datasets/download/nisargpatel344/student-course-completion-prediction-dataset"

# Where to save the extracted files
output_folder = os.getcwd()  # your current project folder
print("Saving files to:", output_folder)

# Perform authenticated request
response = requests.get(
    url,
    auth=(KAGGLE_USERNAME, KAGGLE_KEY),
    stream=True
)

if response.status_code != 200:
    print("Download failed:", response.text)
else:
    print("Download successful! Extracting...")

    # Unzip in memory and extract directly to project folder
    z = zipfile.ZipFile(io.BytesIO(response.content))
    z.extractall(output_folder)

    print("Files extracted:")
    for name in z.namelist():
        print(" -", name)

Saving files to: c:\Users\alimm\OneDrive\Desktop\Projects\Student Course Completion
Download successful! Extracting...
Files extracted:
 - Course_Completion_Prediction.csv

In [16]:
df = pd.read_csv("Course_Completion_Prediction.csv")

In [14]:
df.isna().sum()

Student_ID                      0
Name                            0
Gender                          0
Age                             0
Education_Level                 0
Employment_Status               0
City                            0
Device_Type                     0
Internet_Connection_Quality     0
Course_ID                       0
Course_Name                     0
Category                        0
Course_Level                    0
Course_Duration_Days            0
Instructor_Rating               0
Login_Frequency                 0
Average_Session_Duration_Min    0
Video_Completion_Rate           0
Discussion_Participation        0
Time_Spent_Hours                0
Days_Since_Last_Login           0
Notifications_Checked           0
Peer_Interaction_Score          0
Assignments_Submitted           0
Assignments_Missed              0
Quiz_Attempts                   0
Quiz_Score_Avg                  0
Project_Grade                   0
Progress_Percentage             0
Rewatch_Count                   0
Enrollment_Date                 0
Payment_Mode                    0
Fee_Paid                        0
Discount_Used                   0
Payment_Amount                  0
App_Usage_Percentage            0
Reminder_Emails_Clicked         0
Support_Tickets_Raised          0
Satisfaction_Rating             0
Completed                       0
dtype: int64

In [15]:
Q1 = df["Age"].quantile(0.25)
Q3 = df["Age"].quantile(0.75)
IQR = Q3 - Q1
outliers_iqr = df[(df["Age"] < Q1 - 1.5 * IQR) | (df["Age"] > Q3 + 1.5 * IQR)]
outliers_iqr

,Student_ID,Name,Gender,Age,Education_Level,Employment_Status,City,Device_Type,Internet_Connection_Quality,Course_ID,...,Enrollment_Date,Payment_Mode,Fee_Paid,Discount_Used,Payment_Amount,App_Usage_Percentage,Reminder_Emails_Clicked,Support_Tickets_Raised,Satisfaction_Rating,Completed
1771,STU101771,Aarav Iyer,Female,44,Bachelor,Employed,Indore,Mobile,Medium,C104,...,25-04-2024,Credit Card,Yes,No,3750,78,3,1,3.4,Completed
1992,STU101992,Nikhil Gupta,Male,44,Master,Student,Pune,Laptop,High,C106,...,14-03-2025,UPI,Yes,No,5855,76,1,1,4.2,Not Completed
2845,STU102845,Ananya Shah,Male,46,Bachelor,Employed,Surat,Mobile,Medium,C104,...,25-05-2025,Free,No,No,0,58,4,0,5.0,Completed
4144,STU104144,Kavya Gupta,Male,44,Bachelor,Student,Kolkata,Laptop,High,C106,...,20-02-2024,Free,No,No,0,36,2,1,1.7,Not Completed
4170,STU104170,Sneha Iyer,Female,44,Bachelor,Employed,Mumbai,Mobile,High,C107,...,26-09-2024,NetBanking,Yes,No,4947,47,3,0,2.6,Not Completed
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
97180,STU197180,Kavya Desai,Male,45,Bachelor,Employed,Nagpur,Mobile,Medium,C103,...,07-03-2025,Credit Card,Yes,No,5696,80,6,0,2.8,Not Completed
97216,STU197216,Priya Patel,Female,52,Bachelor,Employed,Indore,Mobile,High,C101,...,19-08-2025,Debit Card,Yes,No,4232,35,1,3,3.6,Not Completed
98225,STU198225,Isha Sharma,Male,44,Diploma,Student,Hyderabad,Mobile,Low,C105,...,17-01-2025,Scholarship,No,No,214,91,2,0,4.0,Completed
98744,STU198744,Nikhil Mehta,Female,44,Master,Self-Employed,Nagpur,Laptop,Medium,C108,...,23-07-2025,NetBanking,Yes,No,3340,36,3,3,3.1,Completed
99537,STU199537,Meera Joshi,Female,44,Master,Employed,Bhopal,Mobile,Medium,C102,...,13-09-2025,Debit Card,Yes,No,4686,86,2,1,2.1,Not Completed